* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav ul {
    display: none;
} 

header {
    width: 100%;
    background-repeat: no-repeat;
    /* background-image: url(../imgs/header-img.png); */
}

nav {
    display: flex;
    /* justify-content: space-between; */
}